:root {
    --header-height: 46px;
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-wide {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 300;
    color: #111111; 

}

.text-muted {
    color: #656565;
    font-style: italic;
    font-size: 15px;
    padding: 16px 0;
}

.text-bold {
    font-weight: 560;
    font-size: 16px;
    margin-top: 16px;
}

.btn {
    width: 108px;
    height: 38px;
    padding: 8px 16px;
    /* box-sizing: content-box; */
    border: none;
    background-color: #111111;
    color: white;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    color: black !important;
    background-color: #cccccc !important;
}