/* PC */
@media(min-width: 1024px) {
    
}
/* Tablet */
@media(max-width: 1023px) and (min-width: 740px) {
    
}
/* Mobile */
@media(max-width: 739px) {
    .s-col-full,.s-full-width {
        width: 100%!important;
    }
    .s-mt-8 {
        margin-top: 8px!important;
    }
    #header {
        overflow: hidden;
    }

    #nav .nav-item {
        float: unset;
        z-index: 4; 
    }
    #nav .nav-item.has-sub-nav>.sub-nav{
        right: 0;
    }
    #nav .nav-item.has-sub-nav>.sub-nav>.sub-nav-item {
        background-color: #333333;
        padding: 2px 40px;

    }
    #nav .nav-item.has-sub-nav .sub-nav a {
        color: #ffffff;
    }
    #menu-btn {
        display: flex;
    }
    #nav>.nav-item:first-child {
        width: fit-content;
    }

    #search {
        display: none;
    }

    #about .wrapper #members {
        display: block;
    }
    #members .member-item {
        width: 100%;
    }
    #members .member-item img {
        width: 60%;
        margin: 6px auto 20px;
        display: block;
    }

}